@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #fffcf9;
    font-family: 'Montserrat', sans-serif;
    margin:0px;
}

nav {
    z-index: 100;
    width: 100%;
    position:fixed;
    background-color: #7cb59d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    height: 64px;
}

.footer {
    display: flex;
    background-color: #28232b;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    padding: 12px 32px 12px 32px; 
}

li {
    list-style: none;
    transition: background-color 0.2s ease-out 100ms;
    padding: 14px;
    border-radius: 12px;
}

li:hover{
    background-color: #e6b364;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.main-section h1 {
    text-align: center;
    margin-bottom: 0px;
}

.main-section h3 {
    width: 50%;
    text-align: center;
    font-weight: 300;
}

.main-section figure {
    padding-top: 64px;
    background-color:rgba(0, 0, 0, 0.75) ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.main-section {
    background-image: url('../../public/img/edisonHOMEBACKGROUND.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edison-home-img{
    border-radius: 100%;
    width: 250px;
}

.introduccion {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 12px;
}

.introduccion figure {
    height:fit-content;
    background-color: #f4e8d8;
    border-radius: 4px;
    padding: 18px;
    padding-bottom: 38px;
    margin: 0px;
}

.introduccion figure p {
    margin-bottom: 28px;
}

.introduccion figure a {
    list-style: none;
    background-color: #6fbb9e;
    transition: background-color 0.2s ease-out 100ms;
    padding: 14px;
    border-radius: 12px;
}

.introduccion figure a:hover {
    background-color: #e6b364;
}

/* VIDA */

.vida-main {
    background-image: url('../../public/img/wallpapapervida.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vida-main figure {
    padding-top: 64px;
    background-color:rgba(0, 0, 0, 0.75) ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.vida-main figure h3 {
    font-weight: 300;
}

.biografia {
    padding: 24px 48px 24px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biografia figure {
    padding: 0px;
}

/* INVENTOS */

.inventos-main {
    background-image: url('../../public/img/inventosWallpaper.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* BIBLIOGRAFIA */

.bibliografia-main {
    background-image: url('../../public/img/wallpaperbibliografia.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bibliografia {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #29222a;
    padding: 32px;
}

.bibliografia-card {
    background-color: #6fbb9e;
    border-radius: 12px;
    width: 40%;
    color: white;
    padding: 24px;
    margin: 8px;
}

.bibliografia-card a {
    font-size: 14px;
}

.bibliografia-card a:hover {
    color: #e6b364;
}

.bibliografia-card h2 {
    margin: 0;
    margin-bottom: 8px;
}

/* CONTACTO */

.contacto-main {
    background-image: url('../../public/img/wallpapercontacto.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* FORMULARIO */

h1 {
    font-weight: 600;
    font-size: 42px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #6fbb9e;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}